// Plugins

// BLOG

.widget.blogpostlist,
.widget.blogpost {
	margin-bottom: 40px;
}

.blog-post-list {
	width: auto;
	display: flex;
	flex-wrap: wrap;
	margin: 0 -1em;

	@media @tablet {
		width: 100%;
		margin: 0;
	}

	.responsivecolumns & {
		width: 100%;
		margin: 0;
	}

	.blog-post-item {
		display: inline-block;
		width: 50%;
		margin-right: 0;
		margin-bottom: 2em;
		vertical-align: top;
		padding: 0 1em;

		@media @tablet {
			width: 100%;
			margin-right: 0;
			padding: 0;
		}
	
		.responsivecolumns & {
			width: 100%;
			margin-right: 0;
			padding: 0;
		}

		.blog-post-feature-image-wrap {
			height: 200px;
		}

		.blog-post-summary,
		.blog-post-more-link,
		.blog-post-date {
			margin-bottom: 2em;
			padding: 0;
		}

		.blog-post-title {
			margin-bottom: 15px;

			a {
				color: @font-swatch1-color;
				padding-bottom: 2em;
				text-decoration: none;

				.style--light & {
					color: @font-swatch1-color;
				}

				.style--accent & {
					color: @contrast--accent;
				}

				.style--dark & {
					color: @contrast--dark;
				}

				&:hover {
					color: @button-color;

					.style--light & {
						color: @button-color;
					}

					.style--accent & {
						color: @contrast--accent;
					}

					.style--dark & {
						color: @contrast--dark;
					}
				}
			}
		}

		.blog-post-more-link,
		.blog-post-date {
			display: inline-block;
		}

		.blog-post-date {
			font-style: italic;
			color: @font-swatch5-color;
			float: right;
			text-decoration: none;
			padding: 14px 0;

			.style--light & {
				color: @font-swatch5-color;
			}

			.style--accent & {
				color: fade(@contrast--accent, 80%);
			}

			.style--dark & {
				color: fade(@contrast--dark, 80%);
			}
		}
	}
}

.widget.blogpost {
	h1.blog-post-title {
		margin-bottom: 20px;
	}

	.blog-post-category {
		margin-top: 10px;
	}
}

.blog-post-tags li a,
.blog-post-category a {
	border: 1px solid @contrast-color;
	border-radius: 20px;
	padding: 1px 12px 2px;
	display: inline-block;
	margin-bottom: 5px;
	line-height: 20px;

	.style--light & {
		border-color: @contrast-color;
	}

	.style--accent & {
		border-color: darken(@color--accent, 8%);
	}

	.style--dark & {
		border-color: darken(@color--dark, 8%);
	}

	&:hover {
		text-decoration: none;
		color: darken(@color-swatch3, 15%);
		border-color: darken(@color-swatch2, 15%);

		.style--light & {
			color: darken(@color-swatch3, 15%);
			border-color: darken(@color-swatch2, 15%);
		}

		.style--accent & {
			color: darken(@contrast--accent, 15%);
			border-color: darken(@color--accent, 15%);
		}

		.style--dark & {
			color: darken(@color--accent, 15%);
			border-color: darken(@color--dark, 15%);
		}
	}
}

.blog-post-title-content-wrap,
.blog-post-metadata {
	margin-bottom: 40px;
}

.blog-post-feature-image-wrap {
	height: 400px;
	background-size: cover;
	background-position: center;
	margin-bottom: 40px;

	img {
		display: none;
	}
}

// Blog Search

.widget.blogsearch {
	margin-bottom: 40px;

	label {
		display: inline-block;
		padding-bottom: .4em;
		width: 100%;
	}

	input {
		height: auto;
		margin-bottom: 0;
		appearance: none;

		@media @mobile {
			width: 100%;
			margin-bottom: 1em;
		}
	}
}

// E-COMMERCE

// Categories

.widget.ecomcategorieslist {
	ul.product-category-items {
		list-style: none;
		padding: 0 10px;
		margin: 0 auto 1em;
		display: flex;
		max-width: 800px;
		flex-wrap: wrap;

		@media @mobile {
			padding: 0;
		}

		.responsivecolumns & {
			padding: 0;
		}

		li {
			width: 100%/3;
			padding: 5px 10px;

			@media @tablet {
				width: 100%/2;
			}

			@media @mobile {
				width: 100%;
				padding: 5px 0;
			}

			.responsivecolumns & {
				width: 100%;
				padding: 5px 0;
			}
			
			a span {
				padding-left: 0.25em;
			}
		}
	}
}

// Product List

.widget.ecomproductslist,
.widget.ecomfeaturedproducts {
	width: auto;
	max-width: none;
	margin-left: 0;
	margin-bottom: 40px;
}

.widget.ecomproductslist .ecom-productslist-products,
.widget.ecomfeaturedproducts .ecom-featuredproducts-wrap {
	display: flex;
	flex-wrap: wrap;
	max-width: auto;
	margin: 0 -1em;

	// Filter

	.productlist-filter {
		margin-right: 0;
		margin-left: 0;
		margin-bottom: 40px;
		width: 100%;
		padding: 0 1em;

		.productlist-display-form {
			text-align: right;

			// Filter Group

			.form-group {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				margin-bottom: 1em;
				width: 100%;
			
				@media @mobile {
					display: block;
				}
			}

			label {
				text-align: left;
				width: 20%;
				padding-bottom: 0;

				@media @mobile {
					width: 100%;
					padding-bottom: .4em;
				}
			
				.responsivecolumns & {
					width: 100%;
					padding-bottom: .4em;
				}
			}

			input {
				@media @mobile {
					margin-bottom: 1em;
				}
			}

			.productlist-search {
				position: relative;
			}

			label,
			select,
			input {
				@media @mobile {
					width: 100%;
				}
			}
		}
	}
}

.widget.ecomproductslist .productlist-item-count {
	padding-top: 10px;
}

// Product Item

.widget.ecomproductslist .ecom-productslist-product,
.widget.ecomfeaturedproducts .ecom-featuredproducts-product {
	display: block;
	width: 100%/3;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 4em;
	padding: 0 1em;
	overflow: visible;

	a:hover {
		text-decoration: none;
	}

	@media @tablet {
		width: 100%/2;
		margin-right: 0;
	}

	@media @mobile {
		width: 100%;
		margin-right: 0;
	}

	.responsivecolumns & {
		width: 100%;
		margin-right: 0;
	}
}

// Image

.widget.ecomproductslist .ecom-productslist-image-wrap,
.widget.ecomfeaturedproducts .ecom-featuredproducts-image-wrap {
	margin: 0 auto;
	background-position: center;
	height: 350px;
	width: 70%;

	@media @tablet {
		height: 250px;
	}
}

.widget.ecomproductslist .ecom-productslist-image,
.widget.ecomfeaturedproducts .ecom-featuredproducts-wrap .ecom-featuredproducts-product .ecom-featuredproducts-image {
	display: none;
    height: 100%;
    margin: 0 auto;
}

// Title

.widget.ecomproductslist .ecom-productslist-title,
.widget.ecomfeaturedproducts .ecom-featuredproducts-title {
	margin-bottom: 20px;
	word-break: break-word;
}

// Price

.widget.ecomproductslist .ecom-productlist-price,
.widget.ecomfeaturedproducts .ecom-featuredproducts-price {
	border: 1px solid @contrast-color;
	border-radius: 20px;
	padding: 3px 10px 4px;

	.style--light & {
		border-color: @contrast-color;
	}

	.style--accent & {
		border-color: darken(@color--accent, 15%);
	}

	.style--dark & {
		border-color: darken(@color--dark, 15%);
	}
}

// Info

.widget.ecomproductslist .ecom-productlist-info,
.widget.ecomfeaturedproducts .ecom-featuredproducts-info {
	margin-top: 20px;
	text-align: center;
}

// Pagination

.widget.ecomproductslist .productlist-pagination {
	margin-left: 0;
	margin-right: 3%;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;

	.productlist-pagination-pages .productlist-pagination-page {
		padding: 0 10px;
	}
}

// Product Detail

.widget.ecomproduct {
	margin-bottom: 40px;

	.ecom-product {
		.ecom-product-image-list {
			li {
				margin: 5px;
				float: none;
				display: inline-block;
			}

			@media @mobile {
				padding-left: 0;
			}
		}

		h2.ecom-product-title,
		p.ecom-product-price {
			margin-bottom: 20px;
		}

		p.ecom-product-price {
			font-size: @font-swatch4-font-size;
		}

		.ecom-product-variation {
			margin-bottom: 40px;

			select {
				appearance: none !important;
				-moz-appearance: none !important;
				-webkit-appearance: none !important;
				margin: 0;
			}
		}

		.ecom-product-add-to-cart-btn-wrapper,
		.ecom-product-go-to-checkout-btn-wrapper {
			display: inline-block;
			vertical-align: middle;
		}

		.ecom-product-add-to-cart-btn-wrapper {
			width: 65%;
			float: left;
			padding-right: 2em;

			@media @mobile {
				width: 100%;
				float: none;
				padding-right: 0;
				margin-bottom: 1em;
			}

			.ecom-product-add-to-cart-btn span {
				position: relative;
				top: -2px;
			}
		}

		.ecom-product-go-to-checkout-btn-wrapper {
			width: 35%;
			text-align: center;

			@media @mobile {
				width: 100%;
			}
		}

		.ecom-product-add-to-cart-btn,
		.ecom-product-go-to-checkout-btn-wrapper a {
			display: table-cell;
			margin: 0;
			width: 100%;
		}

		.ecom-product-go-to-checkout-btn-wrapper a {
			display: block;
			padding: 12px;
		}

		.ecom-product-cattag {
			margin: 40px 0 0;
			line-height: 36px;
		}

		a.ecom-product-tag-link,
		a.store-category-link {
			border: 1px solid @contrast-color;
			padding: 3px 13px 4px;
			border-radius: 20px;
			text-decoration: none;

			.style--light & {
				border-color: @contrast-color;
			}

			.style--accent & {
				border-color: darken(@color--accent, 10%);
			}

			.style--dark & {
				border-color: darken(@color--dark, 10%);
			}

			&:hover {
				border-color: darken(@color-swatch2, 15%);
				color: darken(@color-swatch3, 15%);

				.style--light & {
					border-color: darken(@color-swatch2, 15%);
					color: darken(@color-swatch3, 15%);
				}

				.style--accent & {
					border-color: darken(@color--accent, 15%);
					color: darken(@contrast--accent, 15%);
				}

				.style--dark & {
					border-color: darken(@color--dark, 15%);
					color: darken(@color--accent, 15%);
				}
			}
		}
	}

	.product-product {
		.btn {
			margin-bottom: 1em;
			text-align: center;
			min-width: 250px;
        
			@media @mobile {
				width: 100%;
			}

			&:before {
				float: none;
			}
		}
	}
}

.basket-summary-items-table {
	td,
	th {
		@media @mobile {
			float: left;
			width: 100%;
			padding: 3px 0;
		}
	}

	.image-wrap {
		@media @mobile {
			padding: 10px;
		}
	}

	.basket-summary-amount,
	.basket-summary-subtotal {
		@media @mobile {
			padding: 10px 0;
			text-align: right;
		}
	}

	.basket-summary-items-column {
		@media @mobile {
			text-align: left;
		}
	}

	.basket-summary-amount-column,
	.basket-summary-details-column {
		@media @mobile {
			display: none;
		}
	}
}

// Basket

.widget.ecombasket {
	margin-bottom: 40px;

	.ecombasket-pull {
		width: auto;
		max-width: 200px;
		height: 52px;

		p {
			font-family: @font-swatch7-font-family;
			font-size: @font-swatch7-font-size;
			text-transform: uppercase;
			position: relative;
			top: -2px;
		}
	}

	.ecombasket-list-container {
		ul {
			li {
				border-bottom: 1px solid @contrast-color;

				.ecombasket-item-image {
					width: 85px;
				}

				.ecombasket-item-info {
					.ecombasket-item-title {
						font-family: @font-swatch4-font-family;
						font-size: @font-swatch4-font-size;
						text-transform: uppercase;
						letter-spacing: 0.1em;
					}

					.ecombasket-remove-button {
						line-height: 10px;
						padding: 10px 20px;
						text-decoration: none;
					}
				}
			}
		}
	}
}

// Basket Summary

.widget.ecombasketsummary {
	margin-bottom: 40px;
}

.basket-summary-items-table {
	border-collapse: collapse;
	width: 100%;

	.image-wrap {
		background-position: 10000px;
		line-height: 0;
		text-align: center;
		padding: 30px;

		img {
			max-width: 100%;
			max-height: 200px;
		}
	}

	td {
		padding: 10px 0;
	}

	tr {
		border-bottom: solid 1px darken(@color-swatch1, 10%);

		&:last-of-type {
			border-bottom: none;
		}
	}

	.basket-summary-subtotal {
		padding: 20px;
	}
}

.basket-summary-amount,
.basket-summary-subtotal {
	text-align: center;
}

.basket-summary-quantitybtn {
	button.btn {
		padding: 7px 18px;
	}
}

.basket-summary-items-column {
	width: 30%;
}

.quantity-number {
	display: inline-block;
	min-width: 40px;
	text-align: center;
}

.svg .widget.ecombasket .ecombasket-pull p:before,
.widget.ecomproduct .ecom-product .btn.ecom-product-add-to-cart-btn .text:before {
    content: '\f291';
    display: inline-block;
    top: 0;
    margin-top: -0.25em;
    margin-right: 0.5em;
    background-image: none;
    height: 1.5em;
    width: 1.5em;
    font-family: 'FontAwesome';
    text-indent: 0;
    font-size: 1.25em;
}

.basket-summary-empty-cta,
.ecombasket-summary-link {
	display: inline-block;
}

.basket-summary-continue-shopping,
.basket-summary-submit {
	margin-left: 0;
	margin-right: 10px;
	margin-bottom: 10px;

	@media @mobile {
		margin-right: 0;
		width: 100%;
		text-align: center;
	}
}

// Categories List

.widget.ecomcategorieslist {
	margin-bottom: 40px;
}

// Featured Products List

.widget.ecomfeaturedproducts {
	margin-bottom: 40px;

	.ecom-featuredproducts-header {
		margin-bottom: 40px;
	}

	.ecom-featuredproducts-image-wrap {
		margin-bottom: 20px;
	}
}