// Widgets

// LOGO & #COMPANY NAME

.widget.companyname {
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	margin-top: 10px;
	letter-spacing: .1em;
}

.companyname a:hover {
	text-decoration: none;
}

.widget.logo {
	width: 100%;
	text-align: center;
}

// LANGUAGE SELECTOR

@language-padding: 0.5em;
@language-line-height: @font-swatch6-line-height;

// General styles

.language-selector {
	&.language-selector--horizontal,
	&.language-selector--dropdown {
		z-index: 200;
		position: fixed;
		box-sizing: content-box;
		width: 100%;
	}

	&.language-selector--light {
		background-color: lighten(@spare-color, 20%);
	}

	&.language-selector--dark {
		background-color: @spare-color;
	}
	
	&.language-selector--dropdown {
		height: auto;
		text-align: left;
	}

	.language-selector__inner,
	.language-selector__list,
	.language-selector__item,
	.language-selector__link,
	.language-selector__name,
	.language-selector__localised-name {
		font-family: @font-swatch6-font-family;
		font-size: @font-swatch6-font-size;
		font-weight: @font-swatch6-font-weight;
		color: @font-swatch6-color;
		line-height: @font-swatch6-line-height;
		letter-spacing: @font-swatch6-letter-spacing;
		color: @font-swatch6-color;
		text-transform: uppercase;
		letter-spacing: .1em;
		-webkit-font-smoothing: auto;
		-moz-osx-font-smoothing: auto;
		font-smooth: auto;
	}

	+ .bk-nav {
		top: @language-line-height+2;
		margin-top: @language-padding*4;
	}
	
	~ .bk-header {
		margin-top: @language-line-height+2+@font-swatch6-line-height+16px*2;
	}
}
	
// Inner

.language-selector__inner {
	.language-selector.language-selector--horizontal &,
	.language-selector.language-selector--dropdown & {
		box-sizing: content-box;
		padding: @language-padding;
	}
	
	.language-selector.language-selector--horizontal & {
		padding: @language-padding 0 0;
	}

	.language-selector.language-selector--dropdown & {
		&:before {
			content: '';
			display: block;
			height: @language-line-height+4;
		}
		&:after {
			content: '';
			display: block;
			height: @language-padding*2;
		}
	}
}
	
// List

.language-selector__list {
	.language-selector & {
		min-width: auto;
	}
	
	.language-selector.language-selector--dropdown & {
		box-sizing: border-box;
		margin: @language-padding;
		min-width: auto;
		max-width: ~"calc(100% - 1em)";
		
		@media @tablet {
			margin: 0;
			padding: @language-padding;
			max-width: 100%;
		}
		
		@media @mobile {
			width: 100%;
		}
	}
	
	.language-selector.language-selector--dropdown.language-selector--flag & {
		@media @mobile {
			width: auto;
		}
	}
}
	
// Item

.language-selector__item {
	.language-selector.language-selector--light &,
	.language-selector.language-selector--dark & {
		cursor: pointer;
		position: relative;
		border: none;
		background-color: transparent;
		width: auto;
		max-width: 100%;
		
		
		.language-selector--horizontal& {
			margin: 0 0 @language-padding @language-padding;
		}
	}
	
	// Link Color
	
	.language-selector.language-selector--horizontal & {
		border: 2px solid transparent;
		
		.language-selector--light&,
		.language-selector--dark& {
			&:hover {
				color: @bg-color
			}
			
			&--current {
				&, &:hover {
					color: @bg-color;
				}
			}
			
		}
	}

	.language-selector.language-selector--dropdown & {
		.language-selector--light&,
		.language-selector--dark& {
			.transition (all, 0.5s, ease);
			border: 2px solid transparent;
			background-color: darken(@bg-color, 5%);
				
			&:hover {
				background-color: @button-color;
			}
			
			&--current {
				background-color: @bg-color;
				
				&:hover {
					background-color: @button-color;
				}
			}
		}
		
		.language-selector--light& {
			&--current {
				border: 2px solid @spare-color;
			}
		}
	}
	
	// Current Item
	
	&--current {
		&:after {
			.language-selector.language-selector--dropdown & {
				position: absolute;
				content: '\25be';
				top: 50%;
				right: 0;
				margin-top: -(@language-line-height/4);
				width: @language-padding*4;
				background-color: transparent;
				line-height: @language-line-height/2;
				font-size: @font-swatch6-font-size;
				color: @spare-color;
				text-align: center;
			}
		}
	}
}

// Link

.language-selector__link {
	.language-selector & {
		box-sizing: border-box;
		padding: 0 30px;
		border: none;
		hyphens: auto;
	}
	
	// Horizontal - Item
	
	.language-selector.language-selector--horizontal & {
		text-align: right;
		display: inline-block;
	}
	
	// Dropdown - Item
	
	.language-selector.language-selector--dropdown & {
		padding-right: @language-padding*4;
		padding-left: @language-padding*2;
	}
	
	// Link Color
	
	.language-selector.language-selector--horizontal &,
	.language-selector.language-selector--horizontal .language-selector__item--current &,
	.language-selector.language-selector--dropdown &,
	.language-selector.language-selector--dropdown .language-selector__item--current & {
		.language-selector--light&,
		.language-selector--dark& {
			&, &:hover {
				background-color: transparent;
			}
		}
	}
}

// Icon

.language-selector__icon {
	.language-selector & {
		margin-right: 0;
		padding: @language-padding 0;
		min-height: @language-line-height;
		box-sizing: content-box;
		line-height: @language-line-height;
	}

	.language-selector.language-selector--flag-text & {
		margin: 0;
	}

	.language-selector.language-selector--dropdown.language-selector--flag-text & {
		float: left;
		box-sizing: border-box;
		line-height: @language-line-height;
	}
}

// Name

.language-selector__name,
.language-selector__localised-name {
	.language-selector & {
		text-rendering: auto;
	}

	.language-selector.language-selector--flag-text & {
		display: inline-block;
		padding: @language-padding 0 @language-padding @language-padding;
	}

	.language-selector.language-selector--text &,
	.language-selector.language-selector--flag & {
		padding: @language-padding 0;
	}

	.language-selector.language-selector--text & {
		display: block;
	}

	.language-selector.language-selector--horizontal .language-selector__item--current & {
		color: @font-swatch6-color-hover;
	}

	.language-selector.language-selector--dropdown & {
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		color: @spare-color;
		
		.language-selector--flag-text& {
			@media @mobile-small {
				display: none;
			}
		}
	}
}

// NAVIGATION

.widget.navigation,
.widget.extendednavigation {
	.extendednavigation {
		background-color: @spare-color;
		width: 100%;

        // Mobile Menu

		a.pull {
			@media @tablet {
				top: 10px;
				left: 50%;
				transform: translate(-50%, 0);
				width: 30px;
			}
	
			&:after {
				@media @tablet {
					top: 10px;
					left: 0;
					height: 2px;
					width: 30px;
					background-color: @font-swatch6-color;
					box-shadow: 0 9px 0 @font-swatch6-color, 0 18px 0 @font-swatch6-color;
				}
			}
		}

		// Menu Points
	
		ul {
			margin: 0 auto;
			padding: 0;
			display: block;
			font-size: 0;

			@media @tablet {
				width: 100%;
				display: none;
				margin: 0;
				padding: 40px 40px 50px;
			}

            // Menu Point

			li {
				@media @tablet {
					border-bottom: 1px solid fade(@color-swatch6, 10%);
					width: 100%;
					padding: 0;
				}

				&:first-child {
					@media @tablet {
						margin-top: 30px;
					}
				}

				a {
					padding: 16px 30px;
					margin: 0;
					text-transform: uppercase;
					letter-spacing: .1em;
					.transition (all, 0.5s, ease);
				}

				a:hover,
				&.folder .text:hover {
					color: @button-color;
					.transition (all, 0.5s, ease);
				}

                // Folder
	
				&.folder {
					margin-right: 0;

					&:hover {
						background-color: darken(@color-swatch7, 10%);
					}
	
					&:after {
						content: none;
					}
					
					> .text {
						letter-spacing: .1em;
						.transition (all, 0.5s, ease);
						display: block;
						padding: 16px 30px;
						margin: 0;
						text-transform: uppercase;
						word-break: break-word;
		
						// Folder Arrow
	
						&:after {
							content: '';
							display: block;
							position: absolute;
							top: 50%;
							right: 0.5em;
							border: 2px solid fade(@font-swatch6-color, 60%);
							border-top: transparent;
							border-left: transparent;
							transform: rotate(45deg);
							margin-top: -0.5em;
							width: 0.5em;
							height: 0.5em;
						}
					
						&:hover:after {
							border-color: @font-swatch6-color-hover;
						}
					}

					// Dropdown

					> ul,
					&:hover > ul {
						display: none;
						visibility: hidden;
						opacity: 0;
						position: absolute;
						top: 100%;
						left: -12px;
						transform: translateZ(0);
						transform: translateY(10%);
						transition: all 0.5s ease 0s, visibility 0s linear 0.5s;
						overflow-y: auto;
						max-height: calc(~"100vh - 200%");

						@media @tablet {
							z-index: 500;
							position: static;
							display: none;
							left: 0;
							width: 100%;
							padding: 0;
							background-color: darken(@color-swatch7, 20%);
						}

						&:after {
							content: none;
						}
						
						li {
							@media @tablet {
								margin: 0;
								padding: 0;
							}
							
							a {
								display: inline;
								padding: 0;
								
								.text {
									overflow: unset;
									text-overflow: unset;
									word-break: break-word;
									max-width: 300px;
								}
							}
						}
					}
					
					&.folder-open > ul,
					&.folder-open:hover > ul {
						display: block;
						max-width: none;
						background-color: darken(@color-swatch7, 10%);
						opacity: 1;
						transform: translateX(0%);
						transition-delay: 0s;

						@media @tablet {
							display: block;
						}
					}
				}
			}
		}
	}
}

// FEATURE

.widget.feature {
	.feature-bgimg {
		@media @tablet {
			height: 300px;
			padding: 4em 0;
		}

		@media @mobile {
			height: 220px;
		}

		.content {
			text-align: center;

			@media @tablet {
				height: 300px;
			}

			@media @mobile {
				height: 220px;
			}

			.spare {
				margin: 0 40px;
				letter-spacing: .1em;

				h2 {
					text-transform: uppercase;

					@media @tablet {
						font-size: bkscale(@font-swatch8-font-size,0.8);
						line-height: bkscale(@font-swatch8-line-height,0.8);
						letter-spacing: .1em;
					}

					@media @mobile {
						font-size: bkscale(@font-swatch8-font-size,0.6);
						line-height: bkscale(@font-swatch8-line-height,0.6);
						padding-bottom: .1em;
					}
				}

				h3 {
					color: fade(@font-swatch9-color, 75%);
					text-transform: uppercase;

					@media @tablet {
						font-size: bkscale(@font-swatch9-font-size,0.9);
						line-height: bkscale(@font-swatch9-line-height,0.9);
					}

					@media @mobile {
						font-size: bkscale(@font-swatch9-font-size,0.8);
						line-height: bkscale(@font-swatch9-line-height,0.8);
						padding-bottom: .8em;
					}
				}

				.feature-btn {
					display: block;

					button {
						padding: 12px 30px;
						border: 2px solid @bg-color;
						background-color: transparent;
						color: @bg-color;
						text-decoration: none;
						text-transform: uppercase;
						letter-spacing: .1em;
						.transition (all, 0.5s, ease);

						@media @mobile {
							width: 100%;
							font-size: bkscale(@font-swatch7-font-size,0.8);
							line-height: bkscale(@font-swatch7-line-height,0.8);
						}

						&:hover {
							background-color: @spare-color;
							.transition (all, 0.5s, ease);
						}
					
						i {
							margin-right: 5px;
						}

						span {
							color: @bg-color;
						}
					}

					// Feature Button Alignments
					
					&.justifyleft {
						text-align: left;
					}
					
					&.justifycenter {
						text-align: center;
					}
					
					&.justifyright {
						text-align: right;
					}
					
					&.justifyfull {
						text-align: justify;
					}
					
					&.italic {
						font-style: italic;
					}
					
					&.bold {
						font-weight: bold;
					}
				}
			}
		}
	}

	// Feature Layouts
	
	&.align-left .content {
		width: 100%;
		text-align: left;
	}
	
	&.align-center .content {
		width: 100%;
		text-align: center;
	}
	
	&.align-right .content {
		width: 100%;
		text-align: right;
	}
}

// IMAGE

.widget.image {
	margin-bottom: 40px;

	a:hover {
		text-decoration: none;
	}

	span.image-title {
		margin: 10px 0 0;
		color: @heading-color;
	
		.style--light & {
			color: @heading-color;
		}
	
		.style--accent & {
			color: @contrast--accent;
		}
	
		.style--dark & {
			color: @contrast--dark;
		}
	
		&:hover {
			color: lighten(@color-swatch4, 20%);
	
			.style--light & {
				color: lighten(@color-swatch4, 20%);
			}
	
			.style--accent & {
				color: @contrast--accent;
			}
	
			.style--dark & {
				color: @contrast--dark;
			}
		}
	}
	
	span.image-description {
		margin: 0 0 10px;
		color: @paragraph-color;
	
		.style--light & {
			color: @paragraph-color;
		}
	
		.style--accent & {
			color: fade(@contrast--accent, 80%);
		}
	
		.style--dark & {
			color: fade(@contrast--dark, 80%);
		}
	
		&:hover {
			color: lighten(@color-swatch5, 20%);
	
			.style--light & {
				color: lighten(@color-swatch5, 20%);
			}
	
			.style--accent & {
				color: fade(@contrast--accent, 80%);
			}
	
			.style--dark & {
				color: fade(@contrast--dark, 80%);
			}
		}
	}
}

// GALLERY

.widget.gallery {
	margin-bottom: 40px;

	.gallery-widget {
		position: relative;
		width: 100%;
		padding: 0;

		li {
			width: 25%;
			padding-bottom: 25%;

			@media @desktop-small {
				width: 33.3%;
				padding-bottom: 33.3%;
			}

			@media @tablet {
				width: 50%;
				padding-bottom: 50%;
			}

			@media @mobile {
				width: 100% !important;
				padding-bottom: 100%;
			}

			.responsivecolumns & {
				width: 100% !important;
				padding-bottom: 100%;
			}

			.inner {
				left: 10px;
				right: 10px;
				top: 10px;
				bottom: 10px;

				.title {
					margin-top: 30%;
					color: @font-swatch4-color;
					font-family: @font-swatch4-font-family;
					text-transform: uppercase;
				}

				.description {
					color: @font-swatch5-color;
				}
			}
		}
	}

	.image-data {
		background: fade(@color-swatch2, 90%);
		display: block;
		-webkit-transform: scale(0.1);
		-moz-transform: scale(0.1);
		-o-transform: scale(0.1);
		-ms-transform: scale(0.1);
		transform: scale(0.1);
		-webkit-transition: all 0.26s ease-in-out;
		-moz-transition: all 0.26s ease-in-out;
		-o-transition: all 0.26s ease-in-out;
		transition: all 0.26s ease-in-out;
		opacity: 0;
		position: absolute;
		left: 14px;
		right: 14px;
		top: 14px;
		bottom: 14px;
		height: auto;
		overflow: hidden;
		text-align: center;
	}

	.inner:hover .image-data {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
		opacity: 1;
		text-align: center;
	}
}

// SLIDESHOW

.widget.responsiveslideshow {
	margin-bottom: 40px;

	.slideshow-widget {
		.btn-play,
		.btn-prev,
		.btn-next {
			position: absolute;
			opacity: 1;
			top: 50%;
			background-color: @font-swatch7-background-color;
			border: 2px solid @spare-color;
			width: 50px;
			height: 50px;
			margin-top: -25px;
			font-size: 0;
			line-height: 0;
			color: @font-swatch7-color;
			-webkit-transition: background-color 0.15s ease-in-out;
			-moz-transition: background-color 0.15s ease-in-out;
			-o-transition: background-color 0.15s ease-in-out;
			transition: background-color 0.15s ease-in-out;

			.style--light & {
				background-color: @font-swatch7-background-color;
				border-color: @spare-color;
			}
		
			.style--accent & {
				background-color: @color--accent;
				border-color: @contrast--accent;
			}
		
			.style--dark & {
				background-color: @color--dark;
				border-color: @color--accent;
			}

			@media @tablet {
				width: 50px;
				height: 50px;
			}

			&:hover {
				background-color: @font-swatch7-background-color-hover;

				.style--light & {
					background-color: @font-swatch7-background-color-hover;
				}
		
				.style--accent & {
					background-color: @color--light;
				}
		
				.style--dark & {
					background-color: @color--accent;
				}
			}

			&:after {
				content: '';
				display: block;
				color: @font-swatch7-color;
				background: transparent;
				top: 50%;
				left: 50%;
				margin-top: -10px;
				margin-left: -5px;

				.style--light & {
					color: @font-swatch7-color;
				}
			
				.style--accent & {
					color: @contrast--accent;
				}
			
				.style--dark & {
					color: @contrast--dark;
				}
			}
		}

		.btn-play {
    		left: 50%;
			margin-top: -25px;

			&:after,
			&.pause:after {
				height: 0;
				width: 0;
				border: 10px solid transparent;
				border-left: 15px solid @font-swatch7-color;

				.style--light & {
					border-color: @font-swatch7-color;
				}
			
				.style--accent & {
					border-color: @contrast--accent;
				}
			
				.style--dark & {
					border-color: @contrast--dark;
				}
			}

			&.pause:after {
				height: 18px;
				width: 6px;
				margin-top: -9px;
				margin-left: -6px;
				border: none;
				border-left: 3px solid @font-swatch7-color;
				border-right: 3px solid @font-swatch7-color;

				.style--light & {
					border-color: @font-swatch7-color;
				}
			
				.style--accent & {
					border-color: @contrast--accent;
				}
			
				.style--dark & {
					border-color: @contrast--dark;
				}
			}
		}

		.btn-prev,
		.btn-next {
			&:after {
				border: 3px solid @font-swatch7-color;
				transform: rotate(45deg);
				margin-top: -7px;
				margin-left: auto;
				left: auto;
				right: auto;
				width: 12px;
				height: 12px;

				.style--light & {
					border-color: @font-swatch7-color;
				}
			
				.style--accent & {
					border-color: @contrast--accent;
				}
			
				.style--dark & {
					border-color: @contrast--dark;
				}
			}
		}

		.btn-prev {
			&:after {
				border-top: transparent;
				border-right: transparent;
				margin-left: -5px;
				left: 50%;
			}
		}

		.btn-next {
			&:after {
				border-bottom: transparent;
				border-left: transparent;
				margin-right: -5px;
				right: 50%;
			}
		}
	}

	.content-wrapper {
		background-color: @contrast-color;
	}

	.title,
	.description {
		padding: 14px;
	}

	.title {
		display: block;
		padding-bottom: 0;
		color: @font-swatch4-color;
		font-family: @font-swatch4-font-family;
		text-transform: uppercase;
	}

	.description {
		color: @font-swatch5-color;
	}

	.slideshow-widget-controls {
		margin: 10px 0;

		.dot {
			background-color: transparent;
			border: 2px solid @spare-color;
			background-color: @font-swatch7-background-color;
			border-radius: 50%;
			width: 12px;
			height: 12px;
			margin: 0 4px;
			cursor: pointer;

			.style--light & {
				border-color: @spare-color;
				background-color: @font-swatch7-background-color;
			}
		
			.style--accent & {
				border-color: @contrast--accent;
				background-color: @color--accent;
			}
		
			.style--dark & {
				border-color: @color--accent;
				background-color: @color--dark;
			}

			&.selected {
				background-color: @font-swatch7-background-color-hover;
				border: none;

				.style--light & {
					background-color: @font-swatch7-background-color-hover;
				}
		
				.style--accent & {
					background-color: @color--light;
				}
		
				.style--dark & {
					background-color: @color--accent;
				}
			}
		}
	}
}

// BUTTONS

.btn,
button.btn,
button.button,
.contactform button,
.contactform button.btn,
.advancedcontactform button,
.advancedcontactform button.btn,
.widget.tweet a,
.widget.clicktocall a,
.widget.dropbox button,
.widget.filedownload button.btn,
.widget.paypalbuynow .widget.button.paypal,
.widget.socialicons span a,
.widget.profile .bk-profile-socialicons span a,
.widget.feature .feature-bgimg .content button,
.userregistration fieldset .userregistrationbtn,
.widget.yelpreview .review-body .review-link a,
form.blog-search-form .form-group button,
.blog-post-more-link a {
	font-family: @font-swatch7-font-family;
	font-size: @font-swatch7-font-size;
	font-weight: @font-swatch7-font-weight;
	line-height: 1.5em;
	background-color: @font-swatch7-background-color;
	color: @font-swatch7-color;
	padding: 9px 30px;
	border: 2px solid @spare-color;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: .1em;
	.transition (all, 0.5s, ease);
	word-break: break-word;
	min-height: 52px;

	.style--light & {
		background-color: @font-swatch7-background-color;
		border-color: @spare-color;
		color: @font-swatch7-color;
	}

	.style--accent & {
		background-color: @color--accent;
		border-color: @contrast--accent;
		color: @contrast--accent;
	}

	.style--dark & {
		background-color: @color--dark;
		border-color: @color--accent;
		color: @contrast--dark;
	}

	@media @mobile {
		width: 100%;
	}

	&:hover {
		background-color: @font-swatch7-background-color-hover;
		cursor: pointer;
		.transition (all, 0.5s, ease);

		.style--light & {
			background-color: @font-swatch7-background-color-hover;
		}

		.style--accent & {
			background-color: @color--light;
		}

		.style--dark & {
			background-color: @color--accent;
		}
	}
}

.ecom-product-go-to-checkout-btn,
.ecom-product .btn {
	padding: 10px 22px 10px 22px;
}

.widget.button,
.widget.paypalbuynow,
.widget.tweet,
.widget.dropbox,
.widget.clicktocall {
	margin: 0 0 40px;
}

.widget button.btn span {
	color: @font-swatch7-color;

	.style--light & {
		color: @font-swatch7-color;
	}

	.style--accent & {
		color: @contrast--accent;
	}

	.style--dark & {
		color: @contrast--dark;
	} 
}

// Image Buttons

.widget.tweet a,
.widget.clicktocall a,
.widget.dropbox button,
.widget.filedownload button.btn {
	&, &:hover, &:focus {
		background-image: none;
	}
}

.widget.tweet a,
.widget.clicktocall a,
.widget.dropbox button span,
.widget.filedownload button.btn {
	&:before {
        position: relative;
        top: 0.1em;
		padding-right: 0.25em;
		background-image: none;
		font-family:'FontAwesome';
		font-size: 1.25em;
	}
}

.widget.tweet a:before {content: '\f099';}
.widget.clicktocall a:before {content: '\f095';}
.widget.dropbox button span:before {content: '\f16b';}
.widget.filedownload button.btn:before {content: '\f019';}

.widget.paypalbuynow .widget.button.paypal {
	padding-left: 3.2em;
    background-size: 1.2em;
    background-position: 1.25em center;
}

// FORMS

.contactform,
.advancedcontactform {
	margin-bottom: 40px;

	label {
		font-family: @font-swatch5-font-family;
		font-size: @font-swatch5-font-size;
		font-weight: @font-swatch5-font-weight;
		line-height: @font-swatch5-line-height;
		color: @font-swatch5-color;
		letter-spacing: @font-swatch5-letter-spacing;
		margin-bottom: .4em;
		padding: 0;

		.style--light & {
			color: @font-swatch5-color;
		}

		.style--accent & {
			color: @contrast--accent;
		}

		.style--dark & {
			color: @contrast--dark;
		}
	}

	button {
		float: right;
	}
}

// SIGNUP FORM

.signupform fieldset input {
	height: auto;
	width: auto;

	@media @mobile {
		width: 100%;
		margin-bottom: 1em;
	}
}



// ADVANCED AND CONTACT FORM

.advancedcontactform .form-group,
.contactform .form-group {
	margin-bottom: 1em;

	&:last-child {
		margin-bottom: 0;
	}
}

.option-item.option-item--radio,
.option-item.option-item--checkbox,
.widget.advancedcontactform .form-group.advancedcontactform__form-group--terms,
.widget.contactform .form-group.contactform__form-group--terms,
.widget.signupform .form-group.signupform__form-group--terms {
	width: 100%;
	position: relative;

	label {
		cursor: pointer;
		margin-left: 40px;
		margin-bottom: 1em;
		padding: 0;
		display: inline-block !important;
		line-height: 25px;
		position: relative;
		word-break: break-word;

		&:before {
			content: '';
			position: absolute;
			width: 25px;
			height: 25px;
			background-color: @bg-color;
			border: 1px solid @contrast-color;
			left: -40px;
			top: 0;
			.transition(all, 0.3s, ease);

			.style--light & {
				border-color: @contrast-color;
			}

			.style--accent & {
				border-color: darken(@color--accent, 12%);
			}

			.style--dark & {
				border-color: lighten(@color--dark, 10%);
			}
		}

		&:hover:before {
			border: 1px solid darken(@contrast-color, 15%);

			.style--light & {
				border-color: darken(@contrast-color, 15%);
			}

			.style--accent & {
				border-color: darken(@color--accent, 22%);
			}

			.style--dark & {
				border-color: lighten(@color--dark, 20%);
			}
		}

		&:after {
			content: '';
			position: absolute;
			width: 23px;
			height: 23px;
			opacity: 0;
			border: 2px solid @font-swatch7-color;
			background-color: @bg-color;
			left: -40px;
			top: 0px;
			.transition(all, 0.3s, ease);

			.style--light & {
				border-color: @font-swatch7-color;
			}

			.style--accent & {
				border-color: @contrast--accent;
			}

			.style--dark & {
				border-color: @contrast--dark;
			}
		}
	}

	input[type="checkbox"],
	input[type="radio"] {
		appearance: none;
		visibility: hidden;
		position: absolute;

		&:checked + label:after {
			opacity: 1;
		}
	}
}

.option-item.option-item--checkbox,
.widget.advancedcontactform .form-group.advancedcontactform__form-group--terms,
.widget.contactform .form-group.contactform__form-group--terms,
.widget.signupform .form-group.signupform__form-group--terms {
	label:after {
		margin-left: floor(@font-swatch5-line-height*0.2);
		width: floor(@font-swatch5-line-height*0.8);
		border: 1px solid transparent;
		box-shadow: -6px -6px 0 0 inset @font-swatch7-color;
		transform: scale(50%) rotate(45deg);

		.style--light & {
			box-shadow: -6px -6px 0 0 inset @font-swatch7-color;
		}

		.style--accent & {
			box-shadow: -6px -6px 0 0 inset @color--dark;
		}

		.style--dark & {
			box-shadow: -6px -6px 0 0 inset @color--dark;
		}
	}
}

.option-item.option-item--radio {
	label {
		&:before {
			border-radius: 50%;
		}
		
		&:after {
			border-radius: 50%;
			background-color: @font-swatch7-color;
			border: 1px solid @font-swatch7-color;
			margin-top: 1px;
			margin-left: 1px;
			transform: scale(50%);

			.style--light & {
				background-color: @font-swatch7-color;
				border: 1px solid @font-swatch7-color;
			}

			.style--accent & {
				background-color: @color--dark;
				border: 1px solid @color--dark;
			}

			.style--dark & {
				background-color: @color--dark;
				border: 1px solid @color--dark;
			}
		}
	}
}

// REGISTERATION FORM

.widget.userregistration {
	fieldset {
		margin: 0 auto;
		padding: 0;
		border: none;
		max-width: 400px;
		
		@media @mobile {
			max-width: none;
		}

		.responsivecolumns & {
			max-width: none;
		}

		input {
			width: 100%;
			box-sizing: border-box;
		}

		.error {
			padding: 20px 0 0;

			&[style*="display: block"] {
				padding: 20px 0;
			}

			&[style*="display: none"] {
				display: block !important;
			}
		}
	}
}

input::-webkit-input-placeholder {
   .style--light & {
		color: @contrast--light;
	}

	.style--accent & {
		color: @contrast--accent;
	}

	.style--dark & {
		color: @contrast--dark;
	}
}

input:-moz-placeholder {
   .style--light & {
		color: @contrast--light;
	}

	.style--accent & {
		color: @contrast--accent;
	}

	.style--dark & {
		color: @contrast--dark;
	}
}

input::-moz-placeholder {
   .style--light & {
		color: @contrast--light;
	}

	.style--accent & {
		color: @contrast--accent;
	}

	.style--dark & {
		color: @contrast--dark;
	}
}

input:-ms-input-placeholder {
   .style--light & {
		color: @contrast--light;
	}

	.style--accent & {
		color: @contrast--accent;
	}

	.style--dark & {
		color: @contrast--dark;
	}
}

// SOCIAL ICONS

.widget.socialicons,
.widget.profile .bk-profile-socialicons,
.bk-nav .widget.profile .bk-profile-socialicons {
	margin: 0 0 40px;

	span {
		display: inline-block;

		a {
			background-size: 32px;
			background-color: transparent;
			margin: 0 5px;
			width: 36px;
			height: 36px;
			.border-radius(50%);
			.transition (all, 0.5s, ease);

			&:hover {
				background-color: @button-color;

				.style--light & {
					background-color: @button-color;
				}

				.style--accent & {
					background-color: @color--light;
				}

				.style--dark & {
					background-color: @color--accent;
				}
			}

			@media @mobile {
				margin: 0 2px;
			}
		}

		&.bk-socialicons-linkedin a:before {content: '\f0e1';}
		&.bk-socialicons-twitter a:before {content: '\f099';}
		&.bk-socialicons-instagram a:before {content: '\f16d';}
		&.bk-socialicons-pinterest a:before {content: '\f0d2';}
		&.bk-socialicons-facebook a:before {content: '\f09a';}
		&.bk-socialicons-rss a:before {content: '\f09e';}
		&.bk-socialicons-vkontakte a:before {content: '\f189';}
		&.bk-socialicons-xing a:before {content: '\f168';}
		&.bk-socialicons-youtube a:before {content: '\f16a';}
	}
}

.bk-nav .widget.profile {
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translate(0, -50%);

	.bk-profile-socialicons {
		span {
			a {
				border: none;

				&:hover {
					background-color: fade(@color-swatch3, 20%);
				}
			}
		}
	}
}

// TWITTER FEED

.widget.twitter {
	margin-bottom: 40px;

	ul {
		li {
			padding: 30px;
			margin-bottom: 1em;
			border: 1px solid @contrast-color;

			.style--light & {
				border-color: @contrast-color;
			}

			.style--accent & {
				border-color: fade(@contrast--accent, 80%);
			}

			.style--dark & {
				border-color: fade(@color--accent, 80%);
			}
		}
	}

	.twitter-profile-pic {
		max-width: 80px;

		@media @mobile {
			display: none;
		}
	}

	.twitter-content {
		p, a {
			padding: 0;
			color: @contrast-color;

			.style--light & {
				color: @contrast-color;
			}

			.style--accent & {
				color: fade(@contrast--accent, 80%);
			}

			.style--dark & {
				color: fade(@contrast--dark, 80%);
			}
		}

		time, span, span a {
			font-family: @font-swatch5-font-family;
			font-size: bkscale(@font-swatch5-font-size,0.9);
		}

		span.bk-full-name {
			font-family: @font-swatch4-font-family;
			color: @font-swatch4-color;
			font-size: @font-swatch5-font-size;
			text-transform: uppercase;

			.style--light & {
				color: @font-swatch4-color;
			}

			.style--accent & {
				color: @contrast--accent;
			}

			.style--dark & {
				color: @contrast--dark;
			}
		}

		span a {
			color: @color-swatch3;
			text-decoration: none;

			.style--light & {
				color: @color-swatch3;
			}

			.style--accent & {
				color: @contrast--accent;
			}

			.style--dark & {
				color: @contrast--dark;
			}
		}
	}
}

// DIVIDER

.widget.line {
	padding: 0;
	margin-bottom: 40px;
}

hr.line {
	background-color: @contrast-color;
	margin: 0;

	.style--light & {
		background-color: @contrast-color;
	}

	.style--accent & {
		background-color: fade(@contrast--accent, 20%);
	}

	.style--dark & {
		background-color: fade(@contrast--dark, 20%);
	}
}

.bk-profile-address p:after {
	margin-left: 0;
}

// MAP

.widget.map {
	border: 1px solid @contrast-color;
	margin-bottom: 40px;
}

// EMBEDS

.widget.embed .embed-default,
.widget .embed .embed-wrap {
	background: transparent;
	border: none;
	padding: 0;
	text-align: left;
}

.embed-content iframe {
	max-width: 100%;
}

// Youtube

.widget.youtube {
	margin-bottom: 40px;
}

// Yelp, Soundcloud

.widget.soundcloud,
.widget.facebookcomments,
.widget.donation,
.widget.yelpreview {
	margin-bottom: 40px;
}